table,th,td{
  border: 1px solid black;
  text-align: center;
}
table{
  border-collapse: collapse;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  text-align: center;
}

.button {
  position: absolute;
  top: 25%;

}